body {
  background: rgba(5, 5, 20, 1);
}

header{
  padding: 30px 20px;
  text-align: center;
}
nav {
  display: inline;
}

.menublock { /*костыль :)*/
  margin-top: 40px;
}

.menu-button{
  display: none;
}
.reklama1 {
  display: none;
}
.reklama2 {
  display: none;
}
.menu-b{
  display: none;
}

.logo{
  float: right;
}

.logo>a>img{
  height: 160px;
}

.menu{
  display: inline-block;
  padding: 20px 30px;
  background-color: #FFF0F5;
  border-radius: 10px;
  width: 80%;
  max-width: 1125px;
}

.menu>li{
	list-style-type: none; /*Отключение маркера*/
  display: inline;
  margin: 0 40px;
}

.menu>li>a{
    color: rgba(104, 130, 217, 1);
    text-decoration: none;
    font-family: 'Fedra Sans',  sans-serif;
    line-height: 40px;
    font-size: 30px;
    font-weight: 730;
    transition: 0.5s;
    text-shadow: 0.5px 0.5px 0px #2F4F4F, -0.5px -0.5px 0px #2F4F4F,
    			       -0.5px 0.5px 0px #2F4F4F, 0.5px -0.5px 0px #2F4F4F,
    			       1px 3px 2px rgba(0,0,0,0.3);
}
@media (min-width: 769px){
  .menu>li>a:hover{
    color: #db2727;
    text-decoration: none;
    font-family: 'Fedra Sans',  sans-serif;
    font-size: 35px;
    line-height: 35px;
    font-weight: 745;
    text-shadow: 0.5px 0.5px 0px #2F4F4F, -0.5px -0.5px 0px #2F4F4F,
                 -0.5px 0.5px 0px #2F4F4F, 0.5px -0.5px 0px #2F4F4F,
                 0px 3px 0px #b2a98f,
                 0px 8px 6px rgba(0,0,0,0.15),
                 0px 11px 2px rgba(0,0,0,0.1), 
                 0px 16px 10px rgba(0,0,0,0.1); 
  }
}

@media (max-width: 1200px) and (min-width: 769px){ /*Меню номер 2*/
  
  nav {
    width: 70%;
    text-align: left;
  }
  .menu{
    display: none;
  }
  .reklama1 {
    display: inline;
    color: #fff;
    font-size: 240%;
    font-family: 'Russo One', sans-serif;
  }
  .reklama2 {
    display: block;
    color: #fff;
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
  }
  .reklama2 a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
  }
}

@media(max-width: 768px){  /*Меню номер 3*/
  header {
    padding: 10px 10px;
  }
  .logo{
    float: none;
    display: inline;
  }
  .logo>a>img{
    height: 80px;
  }
  .menu-button{
    display: inline;
    cursor: pointer;   /*!!!!*/
  }

  .menu-b{
    display: inline;
    padding: 3px 3px 4px 4px;
    background-color: #008CF2;
    color: #fff;
    font-family: 'Fedra Sans',  sans-serif;
    font-size: 15px;
    font-weight: 730;
    border-radius: 10px;
  }
  .menu-button>img{
    height: 35px;
  }
  .menu{
    display: none;
  }
  .menublock{
    text-align: left;
  }
  .menublock:hover .menu{
    position: absolute;
    display: block;
    background: #008CF2;
    padding: 0;
    width: 100px;
    z-index: 100;
  }
  .menu>li{

    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px outset #004c82;
    padding-left: 5px; 
  }
  .menu>li>a{
    line-height: 21px;
    color: #fff;
    font-family: 'Fedra Sans',  sans-serif;
    font-size: 13px;
    font-weight: 730;
    text-shadow: none;
  }
  .end{
    border-radius: 0 0 10px 10px;
  }
  .start{
    border-radius: 10px 10px 0 0;
  }
  .menu>li:hover{
    background: #43a3e8
  }


}
